.nav-bar {
  background-color: rgb(154, 169, 169);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-bar ul {
  color: white;
  font: 20px "playfair display", serif;
  list-style-type: none;
  display: flex;
  margin-top: 20px;
}
.nav-bar ul li {
  padding: 0px 30px 10px 0;
}
.nav-bar ul a {
  color: white;
  text-decoration: none;
}

#name-block {
  display: flex;
}
#name1 {
  flex: 1;
  background-color: rgb(110, 151, 151);
  color: white;
  display: flex;
  justify-content: center;
}
.image {
  width: 10px;
  height: 10px;
  background-image: url("../assets/IMG_8707.jpg");
  background-size: cover;
  animation: slideAnimation 4s infinite alternate;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px); 
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text {
  overflow: hidden;
  border-right: 0px solid black; 
  white-space: nowrap; 
  animation: typing 3s steps(40) infinite;
}

.image-block1 {
  flex: 3;
  display: flex;
  justify-content: center;
  color: white;
  background-image: url(../portfolio_assests/background\ image.jpg);
  background-size: cover;
  font-size: xx-large;

  align-items: center;
}
#head {
  display: flex;
}
#head1 {
  display: block;
}

#name1 button {
  height: 52px;
  width: 162px;
  margin-bottom: 50px;
}
#name1 a {
  color: white;
}
#about-section {
  background-color: #5569dc1a;

  padding: 0px 240px;
}
#about-section h1 {
  color: rgb(50, 96, 96);
  font: 32px "playfair display", serif;
  padding-top: 50px;
}
#about-section span {
  color: rgb(50, 96, 96);
  font-size: 16px;
  font-weight: lighter;
  padding-top: 30px;
}
#about-section p {
  color: rgb(50, 96, 96);
  font-size: 21px;
  padding-top: 50px;
  line-height: 40px;
  padding-bottom: 100px;
}
#education-section {
  display: flex;
}
#education-section,
#skills {
  display: flex;
  padding-left: 270px;
  margin-top: 40px;
}
#education-section h1,
#skills h1,
#achievements h1 {
  color: rgb(50, 96, 96);
  font: 32px "playfair display", serif;
}
#education-section p,
#skills p,
#achievements p {
  color: rgb(50, 96, 96);
  font-size: 16px;
}
#education-section .major,
.skill,
#achievements .likes {
  color: rgb(50, 96, 96);
  font-size: 16px;
  margin-top: 30px;
  font-weight: lighter;
  line-height: 30px;
}
#skill-bar {
  color: rgb(50, 96, 96) !important;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text1 {
  overflow: hidden;
  border-right: 0px solid black;
  white-space: nowrap;
  animation: typing 3s steps(40) infinite;
}
#achievements {
  margin-top: 60px;
  padding-left: 270px;
}
#footer h1,
#footer p {
  color: rgb(50, 96, 96);
  margin: 70px 0px 60px 0px;
}
#footer {
  margin-top: 50px;
  background-color: #5569dc1a;
  padding-bottom: 70px;
}
#footer button {
  background-color: rgb(50, 96, 96);
  height: 52px;
  padding: 0px 20px;
  border: none;
  color: white;
  font-weight: lighter;
}
#footer a {
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  #about {
    width: 1023px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #name-block {
    width: 1023px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #footer {
    width: 1023px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .nav-bar {
    width: 1023px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  #education .major,
  #projects .major,
  #achievements p,
  #achievements .likes {
    width: 565px;
  }
}
